doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="blog.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        title Blog
    body
        
        .container
            nav(aria-lable="breadcrumb")
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href="#") Home
                    li.breadcrumb-item
                        a(href="#") Blog
                    li(class="breadcrumb-item active")
                        a(href="#") Current Blog
        main(class="container bg-light" role="main")
            br
            br
            .row
                .col-md-8
                    img(class="img-responsive" width="100%" src="http://via.placeholder.com/800x500" id="current-article-image")
                .col-md-4
                    br
                    span(class="current-article-category" id="current-article-category") Article Category
                    br
                    span(class="current-article-title" id="current-article-title") This is the article title... Crazy things you need to know
                    br
                    span(class="uploaded-on" id="uploaded-on") Uploaded on:
            .row
                .col-md-8
                    div(class="container current-blog-body" id="current-blog body") Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero. Sint enim sed, doloribus sapiente reprehenderit quibusdam laborum earum ducimus accusantium sit, debitis, libero magnam blanditiis voluptatem cum eveniet rerum. Numquam, voluptate. Quod debitis, aut ad facere temporibus asperiores voluptas impedit dolorem veritatis consequuntur doloremque est vel tenetur incidunt maiores sunt vitae nulla nobis hic nisi quaerat quia similique. Hic deserunt modi et dolore dolor sequi eveniet praesentium ab sit tempore ipsam quia, quos impedit tempora nesciunt aut distinctio molestiae libero. Culpa officia neque accusamus, tempore voluptatum officiis harum enim quibusdam amet vero laborum sunt aut autem totam repellat ratione ut! Esse dolorem accusantium ut eligendi ratione exercitationem veritatis excepturi, corrupti dolor? Exercitationem numquam sapiente earum vero tempore. Facere, veniam vitae voluptatibus veritatis eum ex praesentium molestiae accusantium a atque. Esse, debitis possimus recusandae quibusdam vero in quaerat eligendi voluptates, deserunt explicabo iure odit ipsum incidunt consequatur ipsam reiciendis reprehenderit veritatis. Reiciendis recusandae nisi quisquam ipsum nemo eos, perspiciatis alias cumque asperiores facere perferendis explicabo facilis fugiat nulla, laborum assumenda repellendus qui placeat natus aperiam! Ad delectus veritatis ex eos pariatur molestiae illo aliquid mollitia sequi itaque veniam quisquam magnam, dignissimos dolore. Perferendis sed, error facere iusto totam commodi iste doloremque officia similique expedita debitis dolorem rerum consectetur ab, reprehenderit quos. Quos consequuntur, natus similique voluptatum dolore quisquam necessitatibus adipisci iusto ducimus iure velit recusandae tempora. Sequi quasi iste dolore repellendus, ad expedita porro eveniet nemo maiores nisi. Quasi similique facere non officia aspernatur incidunt. Repudiandae culpa ullam delectus quo eligendi illo, provident fuga quidem cumque dolore excepturi enim magnam rerum consequuntur eius. Dignissimos harum cupiditate iure aspernatur incidunt nihil alias neque voluptas optio? At, reprehenderit quia. Ratione ipsa, perferendis laudantium quod, voluptas voluptatum aut molestias at pariatur in incidunt impedit qui, quisquam est quos nulla obcaecati. Expedita, consequuntur. Architecto.
                .col-md-4
                    .row
                        img(class="img-responsive" width="100%" src="http://via.placeholder.com/600x300" id="sub-article-1-image")
                        br
                        span(class="sub-article-date" id="sub-article-date") Mar 18, 2020
                        br
                        span(class="sub-article-title" id="sub-article-title") This is the sub article title... Crazy things you need to know
                        br
                        span(class="uploaded-on" id="uploaded-on") Uploaded on:
                    br
                    .row
                        img(class="img-responsive" width="100%" src="http://via.placeholder.com/600x300" id="sub-article-1-image")
                        br
                        span(class="sub-article-date" id="sub-article-date") Mar 18, 2020
                        br
                        span(class="sub-article-title" id="sub-article-title") This is the sub article title... Crazy things you need to know
                        br
                        span(class="uploaded-on" id="uploaded-on") Uploaded on:
                    br
                    .row
                        img(class="img-responsive" width="100%" src="http://via.placeholder.com/600x300" id="sub-article-1-image")
                        br
                        span(class="sub-article-date" id="sub-article-date") Mar 18, 2020
                        br
                        span(class="sub-article-title" id="sub-article-title") This is the sub article title... Crazy things you need to know
                        br
                        span(class="uploaded-on" id="uploaded-on") Uploaded on:
                    br

                    
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")